<form name="container-form" class="mt-4" method="POST" action="/courses/handle-form-action">
    <div>
        <h3>Khóa học của tôi</h3>
        <a href="/me/trash/courses">Thùng tác ({{deletedCount}})</a>

        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkboxAll">
                <label class="form-check-label" for="checkboxAll">
                    Chọn tất cả
                </label>
            </div>
            <select class="form-select form-select-sm checkbox-select-all-option" name="action" required>
                <option selected value="">--Chọn hành động--</option>
                <option value="delete">Xoá</option>
            </select>
            <button class="btn btn-primary btn-sm" id="action" type="submit" disabled="true">Thực hiện</button>
        </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Số thứ tự</th>
                <th scope="col">
                    Tên khóa học {{{sortable 'name' _sort}}}
                </th>
                <th scope="col">Trình độ {{{sortable 'level' _sort}}}</th>
                <th scope="col" colspan="2">Thời gian tạo {{{sortable 'createAt' _sort}}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>

                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{this._id}}" name="coursesIds[]" />
                    </div>
                </td>
                <td scope="row">{{sum @index 1}}</td>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <button class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#delete-course-modal">Xóa</button>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng khóa học nào.
                    <a href="/courses/create">Đăng khóa học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete course --}}
<div id="delete-course-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa khóa học?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa khóa học này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form id="delete-course-form" method="POST"></form>
<script>
    let id;
    const deleteModal = document.getElementById('delete-course-modal')
    const deleteBtn = document.getElementById('btn-delete-course');
    const deleteForm = document.getElementById('delete-course-form');
    const checkboxAll = document.getElementById('checkboxAll');
    const courseItemCheckBox = document.querySelectorAll('input[name="coursesIds[]"]');
    const actionBtn = document.getElementById('action');
    const containerForm = document.forms['container-form'];

    let count = 0;
    if (deleteModal) {
        deleteModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            id = button.getAttribute('data-id');
        })
    }
    deleteBtn.onclick = function () {
        deleteForm.action = "/courses/" + id + "?_method=DELETE";
        deleteForm.submit();
    }

    checkboxAll.onchange = function () {
        let isCheckAll = this.checked;
        courseItemCheckBox.forEach((checkbox) => {
            checkbox.checked = isCheckAll;
        })
        isCheckAll ? i = courseItemCheckBox.length : i = 0;
        deleteDisabled(i);
    }

    courseItemCheckBox.forEach((checkbox) => {
        checkbox.onchange = function () {
            let i = document.querySelectorAll('input[name="coursesIds[]"]:checked').length;
            let isCheckAll = courseItemCheckBox.length === i;
            checkboxAll.checked = isCheckAll;
            deleteDisabled(i);
        }
    })


    // Add or remove disabled
    function deleteDisabled(i) {
        i > 0 ? actionBtn.removeAttribute("disabled") : actionBtn.setAttribute('disabled', true);
    }
</script>