<div class="mt-4">
    <div>
        <h3>Khóa học đã xoá</h3>
        <a href="/me/stored/courses">Quay lại danh sách khoá học</a>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian xoá</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <button class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</button>
                    <button class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#delete-course-modal">Xóa luôn</button>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Thùng rác trống
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete course --}}
<div id="delete-course-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa vĩnh viễn?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục, bạn vẫn muốn xoá?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form id="delete-course-form" method="POST"></form>
<form id="restore-course-form" method="POST"></form>

<script>
    let id;
    const deleteModal = document.getElementById('delete-course-modal')
    const deleteBtn = document.getElementById('btn-delete-course');
    const deleteForm = document.getElementById('delete-course-form');
    const restoreForm = document.getElementById('restore-course-form');
    const restoreBtns = document.querySelectorAll(".btn-restore");
    if (deleteModal) {
        deleteModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            id = button.getAttribute('data-id');
        })
    }
    // Delete btn
    deleteBtn.onclick = function () {
        deleteForm.action = "/courses/" + id + "/force?_method=DELETE";
        deleteForm.submit();
    }

    // Restore btn
    restoreBtns.forEach((btn) => {
        btn.onclick = function () {
            let restoreId = btn.getAttribute('data-id');
            restoreForm.action = "/courses/" + restoreId + "/restore?_method=PATCH";
            restoreForm.submit();
        }
    })
</script>